.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.header {
  width: 100%;
}

.text-input-wrapper {
  width: 100%;
  height: 100%;
  margin: 5px;
}

.markdown-preview-wrapper {
  width: 100%;
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.App-title {
  font-size: 1.5em;
  font-family: serif;
  font-style: oblique;
}

.info {
  position: fixed;
  bottom: 5px;
  left: 5px;
  margin: 0px;
  font-size: 12px;
}

.header {
  margin-left: 4px;
  height: 30px;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.wrapper {
  position: relative;
  height: 120%;
}

.content {
  margin: auto;
  width: 70%;
}

#root {
  height: 100%;
}
